.header {
  margin-bottom: 10px;
  border-bottom: 1px solid #858585;
}

.nav {
  display: flex;
  justify-content: center;
}

.navText {
  color: #0eb800;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  padding: 5px;
  transition: text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.navText:hover {
  text-shadow: 3px 3px 10px #0eb800, -3px -3px 10px #0eb800;
}

@media (min-width: 480px) {
  .navText {
    font-size: 25px;
    margin: 20px;
    padding: 10px;
  }
}
